* {
    border: 5px solid purple;
    margin: 0;
    padding: 0;
    width: 0;
}
body {
    padding: 32px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: crimson;
}

section {
    border: 1px solid gray;
}
.destaque {
    background-color: #dfdfdf;
}